@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root{
    --cor-fundo: #e3e6e3;
}


body {
    height: 100vh;
    display: flex;
    
}

.div_image {
    flex: 1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#359B74, #2F998D, #319BA0, #38A0CF) ;
}
.login_titulo{
    font-size: 50px;
    flex:wrap;
    border: none;
    container:initial;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;

}
.div_form {
    
    flex: 1;
    align-items: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: none;
    background-color: var(--cor-fundo);
}
.div_login{
    font-family:"plus jakarta sans";
    
}
.caixa{
    width: 23rem;
    height: 25rem;
    border-color: #2F998D;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
    ;

}
.titulo_caixa{
    text-align: left;
}
.subtitulo_caixa{
    text-align: left;
}

button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(#359B74, #2F998D, #319BA0, #38A0CF) ;
    color: #ffffff;
    font-weight: 700;

}

.div_input{
    text-align: left;
    padding-left: 30px;
}
.text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    text-align: start;
    background-color: #e3e6e3; ;
}
.caixinha_mail{
    border: 3px;
    border-color: black;
    background-color: #e3e6e3;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid grey;
    min-width: 90%;


}

.caixinha_pass{
    text-align: start;
}
p{
    text-align: start;
}

input {
    border: none;
    background-color:#e3e6e3;
    width: 100%;
    outline: none;
}
.botao{
    font-weight: bold;
    font-family: "plus jakarta sans";
}
