* {
    padding: 0;
    margin: 0;
}

:root {
    --fonte-titulos: 'plus jakarta Sans', sans-serif;
    --cor-texto-principal: #152520;
    --fonte-corpo: 'DM Sans,', sans-serif;
    --cor-texto-secundario: #687872; 
    --cor-borda: #dce5df;
    --cor-fundo-geral: #F4F8F5;
    --verde-destaque: #2C9B6B;
}

body, html {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'DM Sans,', sans-serif;
}

body {
    display: flex;
}

.links-nav {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    flex: 1;
}

.sidebar-header {
    border-bottom: 1px solid var(--cor-borda);
    padding: 0 1rem;
    text-align: center;
    align-items: center;
    padding: 1.5rem 1rem;
}

.sidebar {
    width: 16rem;
    background-color: var(--cor-fundo-geral);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.links-nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    text-decoration: none;
    color: var(--verde-destaque);
}

.sidebar-footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
    color: var(--cor-texto-secundario);
    border: 1px solid var(--cor-borda);
    padding: 1.5rem 1rem;
}

.content {
     flex: 1;
}

header {
    border-bottom: 1px solid var(--cor-borda);
    border-left: none;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
}

.sidebar-header,
header {
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
}